@media (min-width: 768px) {
  .main {
    margin-top: -95vh;
    margin-left: 100px;
  }
}
.main {
  display: flex;
  gap: 33px;
}
.postingan {
  max-width: 752px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
