i {
  color: #d9d9d9;
}
a {
  margin-bottom: 14px;
  align-self: center;
}

.sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  padding: 17px;
  left: 0;
  background: #1a1a1a;
  width: 64px;
  z-index: 100;
  overflow: hidden;
  transition: all 0.3s ease;
}

.logo {
  text-align: center;
  display: flex;
  justify-content: center;
}

a {
  position: relative;
  display: table;
}

.material-icons {
  position: relative;
}

.sidebar-item {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.sidebar-item a i:hover {
  color: #646464;
  transition: all 0.5s ease;
}
.sidebar-item a:hover i::after {
  background: #fba31f;
}
.sidebar-item a i::after {
  content: "";
  background: transparent;
  width: 5px;
  border-radius: 8px 0 0 8px;
  position: absolute;
  right: -29px;
  height: 100%;
  transition: all 0.5s ease;
  bottom: 0;
}

.sidebar-bottom a:first-child {
  margin-bottom: 0;
  margin-top: 14px;
}

button.button-add {
  background-color: #fba31f;
  width: 48px;
  padding: 0;
  border-radius: 10px;
  height: 48px;
}

.sidebar-bottom-nores {
  position: absolute;
  bottom: 0;
  left: 8px;
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
