#root {
  max-width: 1280px;
}
.offcanvas-start {
  width: auto !important;
}
.offcanvas-header {
  justify-content: center !important;
}

.link {
  margin-bottom: 20px;
}
.link:nth-child(2) {
  margin-top: 20px;
}

Nav {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
}

ResponsiveNav {
  top: 0;
  left: 0;
  position: sticky;
}

@media (min-width: 769px) {
  ResponsiveNav {
    display: none;
  }
}
